<div class="cart-panel">
    <div *ngIf="cartValue !== 0" class="cart-container">
        <ul *ngFor="let item of cartItems">
            <div class="cart-item">
                <img class="img" [src]="item.product.url">
                <div class="cart-item-details">
                    <h3>{{item.product.name}}</h3>
                    <br>
                    <p>Unit price: {{item.product.price}}$</p>
                    <br>
                    <p>Quantity: {{item.quantity}}</p>
                    <br>
                    <button (click)="removeItem(item.product)">Remove</button>
                </div>
            </div>
        </ul>
        <h3>Total value : {{cartValue}}$</h3> 
    </div>
    <div *ngIf="cartValue === 0" class="empty-cart-message">
        <h3>Empty cart</h3>
    </div>
</div>

